src/main/xsd/web-cache.xsd

<?xml version="1.0"?>
<!--
Copyright (C) 2016 tkv

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<xsd:schema version="1.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://vesalainen.org/schema/web-cache"
        xmlns="http://vesalainen.org/schema/web-cache"
        elementFormDefault="qualified">
    <xsd:element name="web-cache">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="virtualCircuitHttpsHost" type="xsd:string" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            A list of https hosts which are virtual circuited through
                            cache. In many cases it is difficult and unnecessary to
                            install trusted certificate for a certain application.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="cacheDir" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Cache Directory name
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="cacheMaxSize" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Cache directory maximum size in bytes.
                        Use kilo, mega, giga, tera suffixes. E.g. '1.2 mega'
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="restartInterval" type="xsd:string" default="1000">
                <xsd:annotation>
                    <xsd:documentation>
                        Request restart interval in milliseconds. Failed requests
                        will be restarted every restartInterval.
                        Use seconds, minutes, hours suffixes
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="removalInterval" type="xsd:string" default="1 hours">
                <xsd:annotation>
                    <xsd:documentation>
                        Removal procedure will be run every removalInterval.
                        Use seconds, minutes, hours suffixes
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="httpCachePort" type="xsd:unsignedShort" default="8080">
                <xsd:annotation>
                    <xsd:documentation>
                        HTTP Cache listening port.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="httpsCachePort" type="xsd:unsignedShort" default="8443">
                <xsd:annotation>
                    <xsd:documentation>
                        HTTPS Transparent Cache listening port.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="httpsProxyPort" type="xsd:unsignedShort" default="8444">
                <xsd:annotation>
                    <xsd:documentation>
                        HTTPS Proxy Cache listening port.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="refreshTimeout" type="xsd:positiveInteger" default="1000">
                <xsd:annotation>
                    <xsd:documentation>
                        Time to wait in milliseconds for fresh response before serving stale one.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="maxRestartCount" type="xsd:positiveInteger" default="100">
                <xsd:annotation>
                    <xsd:documentation>
                        Maximum time to start failing request.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="corePoolSize" type="xsd:positiveInteger" default="10">
                <xsd:annotation>
                    <xsd:documentation>
                        Minimum number of threads in use.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="threadThreshold" type="xsd:positiveInteger" default="100">
                <xsd:annotation>
                    <xsd:documentation>
                        Number of threads after threads without useragent are cancelled.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="maxTransferSize" type="xsd:positiveInteger" default="4096">
                <xsd:annotation>
                    <xsd:documentation>
                        Maximum bytes read from origin server without sending to the user agent.
                        Large values add overall performance but affect user experiense with
                        big files.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeoutAfterUserQuit" type="xsd:string" default="5 minutes">
                <xsd:annotation>
                    <xsd:documentation>
                        Time in milliseconds we continue request transform after all
                        users have quit.
                        Use seconds, minutes, hours suffixes
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="keyStoreType" type="xsd:string" default="BouncyCastle">
                <xsd:annotation>
                    <xsd:documentation>
                        Keystore type. One of BKS, BouncyCastle, UBER, PKCS12, PKCS12-DEF, PKCS12-3DES-3DES or PKCS12-DEF-3DES-3DES
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="keyStoreFile" type="xsd:string" default="keystore">
                <xsd:annotation>
                    <xsd:documentation>
                        Path to keyStore file.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="keyStorePassword" type="xsd:string" >
                <xsd:annotation>
                    <xsd:documentation>
                        Keystore password.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="caDN" type="xsd:string" >
                <xsd:annotation>
                    <xsd:documentation>
                        Certificate Authoritives Distinguished Name
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="caAlias" type="xsd:string" default="CA">
                <xsd:annotation>
                    <xsd:documentation>
                        CA Alias name in keystore
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="keyPairAlgorithm" type="xsd:string" default="RSA">
                <xsd:annotation>
                    <xsd:documentation>
                        Algorithm name used in key-pair generation.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="keySize" type="xsd:positiveInteger" default="2048">
                <xsd:annotation>
                    <xsd:documentation>
                        key size used in keypair generation
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="signingAlgorithm" type="xsd:string" default="SHA256withRSA">
                <xsd:annotation>
                    <xsd:documentation>
                        Algorithm name used in signing.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="validDays" type="xsd:string" default="10 years">
                <xsd:annotation>
                    <xsd:documentation>
                        How many days from now the Certificate is valid for.
                        Use months years... E.g. 10 years
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="createWildcardCN" type="xsd:boolean" default="false">
                <xsd:annotation>
                    <xsd:documentation>
                        If true creates wildcard hostname
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="statisticsTimeSpan" type="xsd:string" default="1 hour">
                <xsd:annotation>
                    <xsd:documentation>
                        Time in milliseconds until we forget statistics entries
                        Use seconds, minutes, hours suffixes
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
